language: r
warnings_are_errors: true
sudo: required

env:
  - GGPLOT=DEV
  - GGPLOT=STD

r_binary_packages:
  - dplyr
  - tidyr
  - ggplot2
  - testthat
  - changepoint
  - dlm
  # - fGarch
  - forecast
  - KFAS
  - knitr
  - MASS
  - MSwM
  - strucchange
  - survival
  - timeSeries
  - vars
  - xts

r_github_packages:
  - jimhester/covr

before_install:
  - echo "options(repos = c(CRAN='http://cran.rstudio.com'))" >> ~/.Rprofile
  - if [[ "$GGPLOT" == "DEV" ]]; then
      Rscript -e 'install.packages("devtools")';
      Rscript -e 'library(devtools);install_github("hadley/ggplot2")';
    fi
  # install latest
  - Rscript -e 'install.packages("roxygen2")';

after_success:
  - Rscript -e 'library(covr);coveralls()'
